body {
  background-color: #FEF9F8;
}

h1, h2, h3, h4, h5{
  font-family: 'Nunito', Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  font-weight: bold;
}

a {
  color: #ff4a1c;
  text-decoration: none;
}

a:hover {
  color: #ff4a1c;
  text-decoration: underline;
}

a:active {
  color: #ff4a1c;
}

p {
  font-family: 'Open Sans', sans-serif;
}
/* 
h5 {
  font-family:'Open Sans', sans-serif; 
} */


.logo-type {
  font-family: 'Nunito', Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; 
  /* font-size: 30px;  */
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 30px; 
  display: inline-block;
}

p.logo-type {
  margin: 0 0 0 0; 
  
}

img, svg {
  display: inline-block;
}

.feature {
	text-align: center;
}

.table-icon {
  float: right;
  width: 45px;
  opacity: 0.7;
  font-size: 0.73rem;
  
  
}

/* .log-text {
  float: right;
} */


section {
	margin-top: 50px;
}

.demo-1 {
  background: no-repeat center/cover url("../images/landscape_smalldog.jpeg");
}

.jumbotron {
  background-image: url("../images/dogrunball3b.jpg");
  background-size: cover;
  min-height: 625px;
  height: 75%;
  filter: opacity(0.9)
}

.jumbotron-text {
  color: #FEF9F8;
}

.footer-jumbotron {
  background-image: url("../images/multipledogs.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 625px;
  height: 75%;
  filter: opacity(0.9)
}


.column {
  float: left;
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bordered {
  border: thin solid;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}
/* div {
  column-rule: 2px double;
} */

.bordered-orange{
  border: thin solid;
  color:#ff4a1c;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}

.orange {
  color:#ff4a1c;
}

.green {
  color:#32936f;
}

.cream {
  background-color: #FEF9F8;
}

.padded {
  padding: 2%;
}

/* FORM settings */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;

}

label {
  display: inline-block;
  padding: 5px;
}

.btn {
  /* margin: 20px; */
  /* used for Sign Up page, this could be an issue on other buttons */
}



.center-cropped {
  object-fit: contain;
  object-position: center;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mini-pic {
  object-fit: contain;
  object-position: center;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.new-user {
  background-image: url("../images/dog-left-corner2.jpg");
  background-size: cover;
}

.footer {
  position: relative;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.center-everything {
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

}


/* Navbar background */
.navbar-custom-theme {
  background: #fef9f8;
  border-bottom: thin solid #ff4a1c;
}

/* Color of the logo */
.navbar-custom-theme .navbar-brand {
  color:#ff4a1c;
  
}

/* Color of logo when you hover on it */
.navbar-custom-theme .navbar-brand:hover,
.navbar-custom-theme .navbar-brand:focus {
  color:#3d3d3d;
  text-decoration: none;
}

.navbar-custom-theme .nav-link {
  color:#ff4a1c;
}

.navbar-custom-theme .nav-link:hover
/* .navbar-custom-theme .nav-link:focus  */
{
  color:#3d3d3d;
  text-decoration: none;
  
}




.static-height {
  height: 400px;
  background: linear-gradient(#fff6e6, #ffc9e4, #fcc5e8);
}

.material-icons {
  font-size: 36px;
}