body {
  background-color: #FEF9F8;

}

h1, h3, h4{
  font-family: 'Itim', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.logo-type {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  display: inline-block;
}

img, svg {
  display: inline-block;
}

.feature {
	text-align: center;
}

section {
	margin-top: 50px;
}

.demo-1 {
  background: no-repeat center/cover url("../images/landscape_smalldog.jpeg");
}

.jumbotron {
  background-image: url("../images/lableash.jpeg");
  background-size: cover;
  min-height: 400px;
  height: 100%;

}


/* FORM settings */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;

}

/* FROM the best-of-bootstrap.css */

/* All the colors you can customize for a navbar! */

/* Navbar background */
.navbar-custom-theme {
  /* background:#F23838; */
  background: #2b2b2b;
  /* background:	#c66d3a; */
  /* background: #F2994B; */
  
  
}

/* Color of the logo */
.navbar-custom-theme .navbar-brand {
  color:#F2EAE4;
}

/* Color of logo when you hover on it */
.navbar-custom-theme .navbar-brand:hover,
.navbar-custom-theme .navbar-brand:focus {
  color: white;
}

.navbar-custom-theme .nav-link {
  color:white;
}

.navbar-custom-theme .nav-link:hover
/* .navbar-custom-theme .nav-link:focus  */
{
  color: #F2994B;
}

/* Change border color of navbar-toggler */
/* .navbar-custom-theme .navbar-toggler { */
/*   border-color: white; */ 
/* } */

/* You can even edit the toggler icon (see example below)! Here are
 * the properties you can edit:
 *   stroke
 *     the color of the lines
 *
 *   stroke-width
 *     width of lines
 *
 *   stroke-miterlimit
 *     tbh I have no idea how to explain this... it basically helps the SVG
 *     renderer decide when to make a stroke pointy. You can see a better
 *     explanation here:
 *     https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-miterlimit
 *
 *   d
 *     how to draw the svg. For example:
 *       M4 --- the margin for the first line (set to 4)
 *       12h22 --- 12 is where to start drawing the line, h22 is how long it
 *                 should be
 */
.navbar-custom-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(76, 81, 141)' stroke-width='1' stroke-miterlimit='10' d='M4 12h22 M4 17h22 '/%3E%3C/svg%3E");
}

.static-height {
  height: 400px;
  background: linear-gradient(#fff6e6, #ffc9e4, #fcc5e8);
}
