{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block body %}

<section class="centering-content-demo container mt-4">
  <h3><span class="material-icons d-inline-block align-bottom">event</span> {{ dog.dog_name }}'s Log</h3>


  <div class="center-cropped img-thumbnail" 
      style="background-image: url('{{ dog.photo }}');">
  </div>

  <br>

  <a href="/dogs/{{ dog.dog_id}}/entries">+Add Entry</a>
  <br>
  <a href="/dogs/{{ dog.dog_id}}">Return to profile</a>


  <div class="row">

    <div class="col-7 bordered">
    <h3>Daily Log</h3>
    <hr>
    

      {% for entry in entries|reverse %}
      <div class="col-1">
        <img class="table-icon" src= "/static/images/training.svg">
      </div>

      
        <h5>{{ entry.entry_name }}
          {% if entry.flag == 'Warning' %}
            <span class="material-icons" style="color:#ff4a1c;">flag</span>
          {% endif %}
          </h5> 
        {{ entry.time_happen }} with {{ entry.first_name }} 
        <br>{{ entry.entry_type }}
        
        <!-- <img src= "{{ entry.entry_type }}.svg" width="50px"> -->
        
  
        <br><i>{{ entry.notes }}</i>
        <hr>
        <p> 
        {% else %} No entries have been logged 
      
      {% endfor %}
      
      </div>

      <div class="col-4 bordered">
        <h3 class="orange">Flagged</h3>
  
        <hr>

        {% for entry in entries|reverse %}
          {% if entry.flag == 'Warning' %}
        <h5>{{ entry.entry_name }}
          
            <span class="material-icons" style="color:#ff4a1c;">flag</span>
          </h5> 
          {{ entry.time_happen }} with {{ entry.first_name }} 
          <br>{{ entry.entry_type }}
        
          <br><i>{{ entry.notes }}</i>
        {% endif %}
          
          <p> 
        {% else %} No entries have been flagged. 
        
        {% endfor %}
            
        <hr>
        {{ today_entries }}
  
      </div>

</section>






{% endblock body%}





      