{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block body %}

<section class="centering-content-demo container mt-4">
  <h3><span class="material-icons d-inline-block align-bottom">event</span> {{ dog.dog_name }}'s Log</h3>


  <div class="center-cropped img-thumbnail" 
      style="background-image: url('{{ dog.photo }}');">
  </div>

  <br>

  <a href="/dogs/{{ dog.dog_id}}/entries">+Add Entry</a>
  <br>
  <a href="/dogs/{{ dog.dog_id}}">Return to profile</a>


  <div class="row">

    <div class="col-8 bordered">
    <h3>History</h3>
    <p> (Add links to sort by time, type, user_id)
      (sort by )

      {% for entry in entries|reverse %}

      <h4>{{ entry.entry_name }}
        {% if entry.flag == 'Warning' %}
          <span class="material-icons" style="color:#ff4a1c;">flag</span>
        {% endif %}
        </h4> 
      {{ entry.time_happen }}</li>
      <br>{{ entry.entry_type }}
      <br>Recorded by {{ entry.first_name }} 
      
      <br> Notes: {{ entry.notes }}
      <hr>
      <p> 
      {% else %} No entries have been logged 
      

      {% endfor %}
      
      </div>

      <div class="col-3 bordered">
        <h3>Flagged</h3>
  
  
        {{ today_entries }}
  
  
      </div>

</section>






{% endblock body%}





      