{% extends 'base.html' %}
{% block title %}Dog Profile {% endblock %}

{% block body %}

<section class="centering-content-demo container mt-4">
  <div class="row">
    <div class="col-4">
      <h3><span class="material-icons">pets</span> {{ dog.dog_name }}'s Profile</h3>

      <div class="center-cropped img-thumbnail" 
          style="background-image: url('{{ dog.photo }}');">
      </div>
    </div>

    
    
  </div>

  <br>
  <div class="row">
  <div class="col-6">
    
    <h4>Basics </h4>
    <ul class="no-bullets">
      <li>Sex: {{ dog.sex }}
      <li>Breed: {{ dog.breed }}
      <li>Birthday: {{ dog.dob }} 
      <li>Age: {{ dog_age }}
      <li>Color: {{ dog.primary_color}}
    </ul>
    <br>
    <!-- <p>(Update info link)</p> -->

    <h4>Health and Care</h4>
    <ul class="no-bullets">
      <li>Food: {{dog.food}}
      <li>Allergies: {{dog.allergies}}
      <li>Medication: {{dog.medication}}
      <li>Microchip Number: {{dog.microchip_num}}
      <li>Weight (lbs): {{dog.weight}}
      <li>Vet Info: {{dog.medical_info}}
    </ul>
    <br>
    <h4>About</h4>
    <ul class="no-bullets">
    <li>Bio: {{ dog.bio }}
    <li>Misc Notes: {{dog.misc_notes}}
    </ul>
    <br>

    <a href="/dogs/{{ dog.dog_id}}/edit-info">Edit Dog Info</a>



    <p>
      <h4>Caretakers</h4>
      
      <ul>
        {% for userdog in userdogs %}
        
        <li>
            
            <a href="/users/{{ userdog.user.user_id }}">{{ userdog.user.first_name }} {{userdog.user.last_name }}</a>
            {% if loop.first %} <i>(main caretaker)</i>
            {% endif %}
            
        </li>
        {% endfor %}   
      </ul>
        <p>Dog ID: {{dog.dog_id}} 
          <br>
        <small>Share this Dog ID with other users to add them as a caretaker</small>
        </p>
        <br>
        
    </p>
  </div>

  <br>
  <div class="col ">
  
    <h4>Daily Activity Log</h4>
    <a href="/dogs/{{ dog.dog_id}}/entries">+Add Entry</a>
    <br>
    <a href="/dogs/{{ dog.dog_id}}/view-entries">View All Entries</a>
    <!-- <p>
    <li><a href="http://localhost:3000/dogs/{{ dog.dog_id}}/schedule">Dog's Schedule</a></li> 
    </p> -->
  </div>
 
    <!-- <form action="/dogs/{{ dog.dog_id }}/remove" method="DELETE">  
      <input type="submit" value="Remove dog from your dogs">
    </form> -->
  </div>
</section>


{% endblock body %}
