{% extends 'base.html' %}

{% block title %}Dog App Home{% endblock %}
{% block body %}

<!-- <section
class="demo-1 container-fluid d-flex justify-content-center align-items-center"
>
<div class="row">
  <div class="column">
    <p class="display-4 mx-5 text-light">
      Dog Days - Track and schedule your pup's life
    </p>
  </div>
</div>
</section> -->

<div class="jumbotron">
  <div class="container for-main">
    <!-- <h1>Dog Days</h1>
    <img src="static/images/DogDaysLogo_Cream.svg" alt="dog days logo" height="200px">
    <h4>Schedule and track your pup's life </h4> -->
  </div>
</div>


<section class="col feature">
  <img src="static/images/DogDaysLogo_RedOrange.svg" alt="dog days logo" height="200px">
  <h1>Dog Days</h1>
  <!-- <h4>Take care of your furry friend</h4> -->
  <p class="lead">Dog Days is a web app that helps track your dogs' activites, feeding, and schedule so you can enjoy your time with your furry friend. </p>
  <!-- <center><hr width="50%"></center> -->
  
</section>
<br>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h4>Track all of your dogs</h4>
      <p>Create multiple dog profiles.
        Waggy wags porgo stop it fren wow very biscit shoob doggorino, smol borking doggo with a long snoot for pats fat boi woofer. 
      </p>
    
    </div>
    <div class="col-md-4">
      <h4>Add multiple users per dog</h4>
      <p>Thicc wow very biscit maximum borkdrive heckin angery woofer
        <li>Very taste wow heckin good boys and girls, yapper floofs.
        <li>Add multiple users per dog
        <li>Share this info with your vet, dog walkers
      
    </div>
    <div class="col-md-4">
      <h4>Share the info</h4>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
    </div>
  </div>

  <br>
  <br>

</div> <!-- /container -->

<!-- 
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/landscape_smalldog.jpeg" class="d-block mx-lg-auto img-fluid" alt="photo of a dog" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h3 class="display-5 fw-bold lh-1 mb-3">Got a new puppy?</h3>
      <p class="lead">Provides structure, tips, etc. Puggorino adorable doggo I am bekom fat clouds he made many woofs</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div> -->

<div class="footer-jumbotron">
  <div class="container for-main">
    <!-- <h1>Dog Days</h1>
    <img src="static/images/DogDaysLogo_Cream.svg" alt="dog days logo" height="200px">
    <h4>Schedule and track your pup's life </h4> -->
  </div>
</div>



<hr size="4" width="100%" color="red">  
  <h2>Dev Test Links</h2>
  <ul>
    <li><a href="/dogs">View all dogs</a></li>
    <li><a href="/users">View all users</a></li>
    #this will be not publicly visible later
  </ul>

  <p>For display only: {{session}}</p>



{% endblock %}