{% extends 'base.html' %}

{% block title %}Dog App Home{% endblock %}
{% block body %}

<!-- <section
class="demo-1 container-fluid d-flex justify-content-center align-items-center"
>
<div class="row">
  <div class="column">
    <p class="display-4 mx-5 text-light">
      Dog Days - Track and schedule your pup's life
    </p>
  </div>
</div>
</section> -->

<div class="jumbotron">
  <!-- <div class="container jumbotron-text">
    <h1>Dog Days</h1>
    <!-- <img src="static/images/DogDaysLogo_Cream.svg" alt="dog days logo" height="200px"> -->
    <!-- <h4>Schedule and track your pup's life </h4>
  </div> --> -->
</div>


<section class="col feature">
  <img src="static/images/DogDaysLogo_RedOrange.svg" alt="dog days logo" height="175px">
  <h1>Dog Days</h1>
  <!-- <h4>Take care of your furry friend</h4> -->
  <p class="lead">Dog Days is a web app that helps track your dogs' activites, feeding, and schedule so you can enjoy your time with your furry friend. </p>
  <!-- <center><hr width="50%"></center> -->
  
</section>
<br>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h4>Manage your dog(s)</h4>
      <p>Create multiple dog profiles with their basic info, a cute photo, vet info, play preferences, and more.
        Keep all their information in one convenient place for when you need it. 
      </p>
    
    </div>
    <div class="col-md-4">
      <h4>Coordinate with multiple caretakers</h4>
      <p>Multiple people in a household taking care of your dog?
        Other users can add your dog and contribute to their daily log. 
        Never give Fluffy too many treats again (at least, not on accident). 
      
      
    </div>
    <div class="col-md-4">
      <h4>Track what's important</h4>
      <p>Keep track of Fido's daily walks, treats, and playtime. Flag an event to let his owners know he ate something weird,
        or should get his paws checked out. Easily share this info with your vet, dog walkers, or other pet professionals.</p>
      <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
    </div>
  </div>

  <br>
  <br>

</div> <!-- /container -->

<!-- 
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/landscape_smalldog.jpeg" class="d-block mx-lg-auto img-fluid" alt="photo of a dog" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h3 class="display-5 fw-bold lh-1 mb-3">Got a new puppy?</h3>
      <p class="lead">Provides structure, tips, etc. Puggorino adorable doggo I am bekom fat clouds he made many woofs</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div> -->

<div class="footer-jumbotron">
  <div class="container for-main">
    <!-- <h1>Dog Days</h1>
    <img src="static/images/DogDaysLogo_Cream.svg" alt="dog days logo" height="200px">
    <h4>Schedule and track your pup's life </h4> -->
  </div>
</div>



<!-- <hr size="4" width="100%" color="red">  
  <h2>Dev Test Links</h2>
  <ul>
    <li><a href="/dogs">View all dogs</a></li>
    <li><a href="/users">View all users</a></li>
    #this will be not publicly visible later
  </ul>

  <p>For display only: {{session}}</p> -->

  <footer class="centering-content-demo container mt-4 footer" >
    <p><small>&copy; 2021 April Soetarman</p></small>
      <br>
  </footer>

{% endblock %}