{% extends 'base.html' %}

{% block title %}Dog App Home{% endblock %}
{% block body %}



<div class="jumbotron">

</div>


<section class="col feature">
  <img src="static/images/DogDaysLogo_RedOrange.svg" alt="dog days logo" height="175px">
  <h1>Dog Days</h1>

  <p class="lead">Dog Days is a web app that helps track and share your dogs' info and activities so you can enjoy your time with your furry friend. </p>
  
</section>
<br>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h4>Manage your dog(s)</h4>
      <p>Create multiple dog profiles with their basic info, a cute photo, vet info, play preferences, and more.
        Keep all their information in one convenient place for when you need it. 
      </p>
    
    </div>
    <div class="col-md-4">
      <h4>Coordinate with multiple caretakers</h4>
      <p>Multiple people in a household taking care of your dog?
        Other users can add your dog and contribute to their daily log. 
        Never give Fluffy too many treats again (at least, not on accident). 
      
      
    </div>
    <div class="col-md-4">
      <h4>Track what's important</h4>
      <p>Keep track of Fido's daily walks, treats, and playtime. Flag an event to let his owners know he ate something weird,
        or should get his paws checked out. Easily share this info with your vet, dog walkers, or other pet professionals.</p>
    </div>
  </div>

  <br>
  <br>

</div> <!-- /container -->





<!-- <hr size="4" width="100%" color="red">  
  <h2>Dev Test Links</h2>
  <ul>
    <li><a href="/dogs">View all dogs</a></li>
    <li><a href="/users">View all users</a></li>
    #this will be not publicly visible later
  </ul>

  <p>For display only: {{session}}</p> -->

  <footer class="centering-content-demo container mt-4 footer" >
    <p><small>&copy; 2021 April Soetarman</p></small>
      <br>
  </footer>

{% endblock %}