{% extends 'base.html' %}
{% block title %}New Dog{% endblock %}

{% block body %}
<h2>Create a new dog</h2>
<form action="/add_dog" method="POST">
  <p>
    Dog's name* <input type="text" name="dog_name">
  </p>

  <label for="sex">Sex</label>
  <select id="sex" name="sex">
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>


  <p>
    Date of Birth 
    <i>(YYYY-MM-DD)</i>
    <br>
    <input type="datetime" name="dob">
  </p>

  <p>
    Breed <input type="text" name="breed">
  </p>

  <p>
    Primary Color <input type="text" name="primary_color">
  </p>

  <p>
    Bio <input type="text" name="bio">
  </p>

  <p>
    Microchip Number <input type="text" name="microchip_num">
  </p>

  <p>
    Medication <input type="text" name="medication">
  </p>

  <p>
    Medical Info <input type="text" name="medical_info">
  </p>

  <p>
    Allergies <input type="text" name="allergies">
  </p>

  <p>
    Weight <input type="integer" name="weight"> 
  </p>

  <p>
    Food <input type="text" name="food"> 
  </p>

  <p>
    Miscellaneous Notes <input type="text" name="misc_notes"> 
  </p>

  <p>
    <input type="submit">
  </p>
</form>

<h2>Add an existing dog</h2>

<p> Lookup by name or dog id </p>

<form action="/lookup_dog" method="GET">
<p>
    Dog ID <input type="integer" name="dog_id">
</p>
<p>
  <input type="submit">
</p>
</form>


{% endblock body %}