{% extends 'base.html' %}
{% block title %}New Dog{% endblock %}

{% block body %}


<section class="forms-demo container mt-4">
  <div class="row">
    <div class="column bordered">
      <h3>Record a new entry</h3>
      <form action="/dogs/{{ dog.dog_id }}/entries" method="POST">

        <label for="entry">Entry Name</label>
          <input type="text" name="entry_name">
        <br>

        <label for="entry_type">Type</label>
          <select id="entry_type" name="entry_type">
            <option value="feeding">Feeding</option>
            <option value="exercise">Exercise</option>
            <option value="training">Training</option>
            <option value="potty">Potty</option>
            <option value="meds">Medication</option>
            <option value="grooming">Grooming</option>
            <option value="other">Other</option>
          </select>
        
        <p>
        <label for="time">Time Occurred:</label>
          <input id="time_happen" type="datetime-local" name="time_happen">
        </p>

        <p>
        <label for="notes">Notes</label><input type="text" name="notes" placeholder="optional">
        </p>

        <p>
          <!-- <input type="hidden" id="flag" name="flag" value="false" />  -->
          &nbsp;<input type="checkbox" id="flag" name="flag" value="Warning" />
        <label for="flag"><i>Flag for follow-up</i></label>
        </p>

        <button class="btn btn-lg btn-dark btn-block" type="submit">Confirm</button>

      </form>
    </div>
 
  </div>
</section>




{% endblock body %}