{% extends 'base.html' %}
{% block title %}New Dog{% endblock %}

{% block body %}


<section class="forms-demo container mt-4">
  <div class="row">
    <div class="column bordered">
      <h2>Create a new dog</h2>
      <hr>
      <form action="/add_dog" method="POST" enctype="multipart/form-data">
        <h4>Basics</h4>
        <p>
          <label for="dog_name">Dog's name*</label> <input type="text" name="dog_name">
        </p>

        <label for="sex">Sex</label>
        <select id="sex" name="sex">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>

        <p>
          <label for="dob">Date of Birth</label>
          <input type="date" name="dob">
        </p>

        <p>
          <label for="breed">Breed</label> <input type="text" name="breed">
        </p>

        <p>
          <label for="color">Primary Color</label><input type="text" name="primary_color">
        </p>
        <hr>
        <h4>Health and Care</h4>

        <p>
          <label for="food">Food</label>
          <br>
          <textarea id="food" name="food" placeholder="Brand and serving size" rows="2" cols="35"></textarea>
        </p>

        <p>
          <label for="allergies">Allergies</label><input type="text" name="allergies">
        </p>

        <p>
          <label for="microchip">Microchip Number</label><input type="text" name="microchip_num">
        </p>

        <p>
          <label for="medication">Medication</label> <input type="text" name="medication">
        </p>

        <p>
          <label for="weight">Weight (lbs)</label><input type="integer" name="weight"> 
        </p>

        <p>
          <label for="vet_info">Vet Info</label><br>
          <textarea id="medical_info" name="medical_info" placeholder="Name, address, phone number" rows="3" cols="35"></textarea>
        </p>
        <hr>
        <h4>About</h4>
        <p>
          <label for="bio">Bio</label><br>
          <textarea id="bio" name="bio" placeholder="Tell us about your dog's history and personality - likes, dislikes, etc" rows="3" cols="35"></textarea>
        </p>

        <p>
          <label for="misc">Miscellaneous Notes</label><br>
          <textarea id="misc_notes" name="misc_notes" placeholder="Behaviors, walk notes, energy levels, playstyle, etc " rows="3" cols="35"></textarea>
        </p>

        <p><label for="photo">Photo</photo>
        <input type="file" name="dog-photo">
        </p>

        <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>
      </form>
    </div>
 
    <div class="column bordered">
      <h2>Add an existing dog</h2>
      <hr>

      <form action="/lookup_dog" method="POST">
      <p>
        <label for="dog_id">Dog ID</label> <input type="integer" name="dog_id">
        <br>
        <small class="form-text text-muted">
          To add an existing dog, get the Dog ID from their caretaker.
        </small>
      </p>
      <p>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Add Dog</button>
      </p>
      </form>
    </div>

  </div>
</section>


{% endblock body %}