{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}


<section class="centering-content-demo container mt-4">
  <!-- {{ today }} -->
  <h3><span class="material-icons">person</span>Welcome, {{ user.first_name }}</h3>

  <h4>Info</h4>
  Full Name: {{ user.first_name }} {{ user.last_name }}
  <br>
  Email: {{ user.email }}
  <br>
  Phone Number: {{ user.phone_number }}

  <p>
  <h4>Dogs </h4>
      {% for userdog in userdogs %}
      <section class="each-dog">
        <div class="mini-pic img-thumbnail" 
        style="background-image: url('{{ userdog.dog.photo }}');">
        </div>
        <a href="/dogs/{{ userdog.dog.dog_id }}">{{ userdog.dog.dog_name }}</a>

          <!-- Need to add if userdog.primary_user is True, add an indication -->

      {% else %}
      <p>No dogs have been added yet.</p>
      </section>
      {% endfor %}
      
      </p>
      <section class="centering-content-demo container mt-4">
        <a href="/add_dog">+ Add a dog</a>
      </section>

  
  </section>

{% endblock %}